* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

html, body {
    width: 100%;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: var(--light-grayish-blue);
    display: flex;
    align-items: center;

}

.container {
    width: 1000px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    padding: 28px;
    border-radius: 8px;
    display: block;
}

.first-card {
    background-color: var(--violet);
    color: var(--white);
    position: relative;
    grid-column: span 2;
}

.quote-icon {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 48px;
}

.second-card {
    background-color: var(--dark-grayish-blue);
    color: var(--white);
}

.third-card {
    background-color: var(--white);
    color: var(--dark-grayish-blue);
    grid-row-start: 2;
}

.fourth-card {
    background-color: var(--dark-blackish-blue);
    color: var(--white);
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.fifth-card {
    background-color: var(--white);
    color: var(--dark-grayish-blue);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border: 1px solid var(--light-gray);
    z-index: 2;

}

.title {
    z-index: 2;
    position: relative;
}

.title .name {
    font-weight: 600;
    
    
}

.title .position {

    font-weight: 500;
    opacity: 0.5;
}

.description {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.quote {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-weight: 500;
    opacity: 0.5;
    line-height: 18px;

}





